<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/lidar/">LiDAR</a></li>
    <li class="nav-blog-petrus" role="menuitem"><a href="https://blog.naver.com/tinz6461" target="_blank">PJI's Blog</a></li>
    <li class="nav-coolwindjo" role="menuitem"><a href="https://coolwindjo.github.io/algoguru" target="_blank">JSH's Blog</a></li>
</ul>
