<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li>
    <li class="nav-blog" role="menuitem"><a href="{{site.baseurl}}tag/blog/">Blog</a></li>
    <li class="nav-ros" role="menuitem"><a href="{{site.baseurl}}tag/ros/">ROS</a></li>
    <li class="nav-docker" role="menuitem"><a href="{{site.baseurl}}tag/docker/">Docker</a></li>
    <li class="nav-radar" role="menuitem"><a href="{{site.baseurl}}tag/radar/">RaDAR</a></li>
    <li class="nav-camera" role="menuitem"><a href="{{site.baseurl}}tag/camera/">Camera</a></li>
    <li class="nav-lidar" role="menuitem"><a href="{{site.baseurl}}tag/lidar/">LiDAR</a></li>
    <li class="nav-blog-petrus" role="menuitem"><a href="https://blog.naver.com/tinz6461" target="_blank">PJI's Blog</a></li>
    <li class="nav-blog-coolwindjo" role="menuitem"><a href="https://coolwindjo.github.io" target="_blank">JSH's Blog</a></li>
</ul>
